@import url(../base/_variables.scss);


.header-box,
.main-nav-list {
  display: flex;
  justify-content: space-between;
  font-size: $font-base;
  color: $color-gray;
  font-size: $co;
}

.header-box {
  align-items: center;
}

.main-nav-item {
  margin: 0 15px;
}

.main-nav-link {
  padding: 8px 16px;
  font-weight: 500;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.main-nav-link:hover {
  color: #00c194;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background-color: transparent;
  padding: 40px 65px 40px;
  transition: all 0.3s ease-in-out;
}

.banner {
  min-height: 780px;
  z-index: 1;
  background: linear-gradient(90deg, #e3f4f0 0%, #f7fffd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.banner .banner-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  bottom: -4px;
}

.banner .banner-shape svg {
  display: block;
  width: calc(139% + 1.3px);
  height: 500px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner .banner-shape svg path {
  fill: #fff;
}

.banner-card {
  display: flex;
}

.feature-list {
  display: flex;
}

.banner-card-left,
.banner-card-right {
  padding: 15px 12px;
}

.banner-card-left {
  width: 58.33333333%;
  transform: translateY(100px);
}

.banner-card-right {
  width: 41.66666667%;
}

.banner-content p {
  width: 100%;
  max-width: 70%;
  margin-bottom: 30px;
}

.feature-list li {
  margin-right: 20px;
  border-radius: 15px;
  padding: 7.5px 0;
}

.banner-img {
  width: 451px;
}

.section-style-1,
.section-style-4 {
  padding: 120px 0;
  position: relative;
}

.watermark-text .text {
  font-size: 180px;
  color: #def0ec;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.watermark-text .text span {
  transform: matrix(1, 0, 0, 1, -44.6648, 27.6465);
  display: block;
}

.section-heading {
  margin-bottom: 60px;
  text-align: center;
}

.section-title {
  margin-bottom: 15px;
}

.watermark-text {
  position: absolute;
  z-index: -1;
}

.section-style-1 .watermark-text {
  left: 0;
  top: 3%;
  width: 100%;
}

.section-style-4 .watermark-text {
  left: 0;
  top: 3%;
  width: 100%;
}
.section-style-5 .watermark-text,
.section-style-6 .watermark-text,
.section-style-8 .watermark-text {
  left: 0;
  top: 3%;
  width: 100%;
}

.box-style-1 {
  position: relative;
  text-align: center;

  .item-img {
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 15px;
    background-color: $color-blue;
    box-shadow: 0px 3px 84px 0px rgb(193 193 193 / 58%);
  }

  .item-img {
    display: inline;

    img {
      width: 50%;
    }
  }
}

img {
  width: 100%;
}

.box-style-1 .item-img img {
  width: 100%;
}

.box-style-1 .item-img > a {
  position: relative;
  z-index: 1;
  border-radius: 15px;
  display: block;
  width: 100%;
}

.box-style-1 .item-img > a::after {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
}

.box-style-1 .item-img > a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.box-style-1 .item-img .text {
  position: absolute;
  left: 0;
  top: 75%;
  transform: translateY(-75%);
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-style-1:hover .item-img > a::after {
  visibility: visible;
  opacity: 1;
}

.box-style-1:hover .item-img .text {
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
}

.box-style-1 .item-content {
  padding: 24px;
}

.box-style-1 .item-content .title {
  margin-bottom: 8px;
}

.box-style-1 .item-content .text-s {
  font-weight: 500;
  color: #0e2e50;
}

.section-style-1 .col:last-child .box-style-1 .item-img > a::after {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
}

.section-style-1 .col:last-child .text {
  display: none;
}

.section-style-1 .col:last-child .item-img img {
  filter: blur(3px);
}

.section-style-1 .col:last-child .box-style-1 .item-img a {
  cursor: none;
  pointer-events: none;
}

.section-style-1 .col:last-child .box-style-1 .item-img .text-last-child {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 1;
  transition: all 0.5s;
}

.col:not(:last-child) .box-style-1 .item-img .text-last-child {
  display: none;
}

.section-style-2 {
  padding: 120px 0;
  background-color: #eaf7f4;
  z-index: 2;
  position: relative;
}

.section-style-2 .section-container .row .col {
  padding: 15px 12px;
}

.section-style-2 .section-container .row .col:first-child {
  transform: translateY(140px);
}

.section-style-2 .section-heading {
  margin-bottom: 0;
  text-align: start;
}

.section-style-2 .title-img {
  margin-bottom: 25px;
}

.section-style-2 .title-img img {
  margin: 0;
}

.elementor-img {
  margin-left: 40px;
  margin-right: -80px;
}

.elementor-list {
  display: block;
}

.elementor-list li {
  position: absolute;
  z-index: -1;
}

.section-style-2 .elementor-img .elementor-list li:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-32%, -50%);
  width: 100%;
}

.section-style-2 .elementor-img .elementor-list li:nth-child(2) {
  left: 41%;
  top: 54%;
}

.section-style-2 .watermark-text .text {
  text-align: left;
  text-transform: capitalize;
  font-size: 180px;
}

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.section-card {
  display: flex;
}

.section-wrapper {
  background-color: #0e2e50;
  padding-top: 100px;
}

.section-card-left,
.section-card-right {
  width: 50%;
}

.section-wrapper-style-1 {
  background: linear-gradient(43deg, #a55fe1 0%, #4333d9 100%);
}

.section-wrapper-style-2 {
  background: linear-gradient(43deg, #4e69f9 0%, #1437f4 100%);
}

.section-wrapper-style-1 .section-heading,
.section-wrapper-style-2 .section-heading {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  max-width: 70%;
}

.section-style-3 .section-title {
  color: #fff;
  margin-bottom: 0px;
}

.section-style-4 {
  background-color: #f2faff;
  z-index: 1;
  counter-reset: feature-counter;
}

.box-style-2 .item-content {
  padding: 40px 10px 15px;
}

.box-style-2 .item-content .title {
  margin-bottom: 8px;
}

.box-style-2 .item-content .title::after {
  counter-increment: feature-counter;
  content: "0" counter(feature-counter) "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-weight: bold;
  font-size: 80px;
  color: #cdebe4;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.box-style-2:hover,
.box-style-3:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease-in-out;
}

.section-style-5 {
  padding: 150px 0;
  background-color: #0e2e50;
  z-index: 1;
  position: relative;
}

.section-style-5 .watermark-text .text {
  color: #163658;
}

.section-style-5 .elementor-list li:nth-child(1) {
  right: 15%;
  top: 13%;
}

.section-style-5 .elementor-list li:nth-child(2) {
  left: 48%;
  bottom: 12%;
}

.section-style-5 .section-heading {
  text-align: start;
  transform: translateY(100px);
}

.section-style-5 .section-heading h2 {
  color: #fff;
}

.section-style-5 .section-heading p {
  color: #b9cbde;
}

.section-style-5 .elementor-list li:nth-child(1) span {
  display: block;
  animation: left-to-right 10s linear infinite;
}

.section-style-5 .elementor-list li:nth-child(2) span {
  display: block;
  animation: zoom-in 10s linear infinite;
}

.section-style-6 {
  background-color: #eaf7f4;
  z-index: 1;
  padding: 130px 0 70px;
  position: relative;
}

.section-style-6 .section-heading {
  text-align: start;
  transform: translateY(200px);
}

.section-style-6 .elementor-list li:nth-child(1) {
  left: 12%;
  top: 18%;
}

.section-style-6 .elementor-list li:nth-child(2) {
  left: 12%;
  bottom: 18%;
}

.section-style-6 .elementor-list li:nth-child(3) {
  left: 25%;
  bottom: 10%;
}

.section-style-6 .elementor-list li:nth-child(4) {
  left: 48%;
  top: 10%;
}

.section-style-6 .elementor-list li:nth-child(5) {
  left: 50%;
  bottom: 26%;
}

.section-style-6 .elementor-list li:nth-child(1) span {
  display: block;
  animation: left-to-right 10s linear infinite;
}

.section-style-6 .elementor-list li:nth-child(2) span {
  display: block;
  animation: zoom-in 15s linear infinite;
}

.section-style-6 .elementor-list li:nth-child(3) span {
  display: block;
  animation: zoom-in 10s linear infinite;
}

.section-style-6 .elementor-list li:nth-child(4) span {
  display: block;
  animation: spin 10s linear infinite;
}

.section-style-6 .elementor-list li:nth-child(5) span {
  display: block;
  animation: top-to-bottom 10s linear infinite;
}

.section-style-7 {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  position: relative;
}

.section-style-7 .elementor-list li:nth-child(1) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.box-style-3 .item-img {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 0px 8px 17px rgb(0 0 0 / 7%);
  transition: all 0.3s ease-in-out;
}

.box-style-3 .item-content .title {
  text-align: center;
}

.section-style-8 {
  background: linear-gradient(to right, #00c194 15.06%, #02c194 66.42%);
  z-index: 1;
  position: relative;
  padding: 120px 0;
  padding: 120px 0;
}

.section-style-8 .elementor-list li:nth-child(1) {
  left: 5%;
  top: 12%;
}

.section-style-8 .elementor-list li:nth-child(2) {
  right: 14%;
  top: 12%;
}

.preview-section-style-8 .elementor-list li:nth-child(3) {
  left: 0;
  bottom: 0;
}

.section-style-8 .elementor-list li:nth-child(1) span {
  display: block;
  animation: top-to-bottom 10s linear infinite;
}

.section-style-8 .elementor-list li:nth-child(2) span {
  display: block;
  animation: left-to-right 10s linear infinite;
}

.section-style-8 .elementor-list li:nth-child(3) span {
  display: block;
  animation: zoom-in 10s linear infinite;
}

.section-style-8 .watermark-text .text {
  color: rgba(0, 0, 0, 0.05);
}

.section-style-8 .section-heading h2,
.section-style-8 .section-heading p {
  color: #fff;
}

.inner-page-view img {
  width: 100%;
  border-radius: 8px;
}

.footer {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 170%;
  min-height: 360px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-mb {
  display: none;
}

.box-style-1 .item-content .title a:hover {
  color: #00c194;
}

.button-report  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
}

.button-submit  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;

  @include important-text(#000, 23px);
}

@mixin important-text($color, $fontsize) {
  color: $color;
  font-size: $fontsize;
  font-weight: bold;
  border: 1px solid blue;
}